{
  "plugins": ["prettier-plugin-astro"],
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": ["**/*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
